
  <%- include('../headers/admin_header.ejs') -%>
  <head>
    <style>

      .dropdown-submenu {
          position: relative;
      }
      
      .dropdown-submenu>.dropdown-menu {
          top: 0;
          left: 100%;
          margin-top: -6px;
          margin-left: -1px;
          -webkit-border-radius: 0 6px 6px 6px;
          -moz-border-radius: 0 6px 6px;
          border-radius: 0 6px 6px 6px;
      }
      
      .dropdown-submenu:hover>.dropdown-menu {
          display: block;
      }
      
      .dropdown-submenu>a:after {
          display: block;
          content: " ";
          float: right;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 5px 0 5px 5px;
          border-left-color: #ccc;
          margin-top: 5px;
          margin-right: -10px;
      }
      
      .dropdown-submenu:hover>a:after {
          border-left-color: #fff;
      }
      
      .dropdown-submenu.pull-left {
          float: none;
      }
      
      .dropdown-submenu.pull-left>.dropdown-menu {
          left: -100%;
          margin-left: 10px;
          -webkit-border-radius: 6px 0 6px 6px;
          -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
      }
      </style>
  </head>
  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    
    <div class="col-sm-12 col-md-6">
      
        <h3><strong class="text-muted d-block mb-2">Add Subjects</strong></h3>
      
      
      <form>
        <!-- <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div> -->
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Stream</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Engineering</option>
            <option>Pharmacy</option>
            <option>Diploma</option>
            
          </select>
        </div>
        <div style="margin-left:70px;" class="dropdown align-items-center">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Year
          </button>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          
            <%streams.forEach(stream=>{%>
              <li class="dropdown-divider"></li>
              <li  class="dropdown-submenu">
                <a style="right: 0;" class="dropdown-item" tabindex="-1" href="#"><%=Object.keys(stream)%></a>
                <ul class="dropdown-menu">
                  <%stream[Object.keys(stream)].forEach(year1=>{%>
                  <li class="dropdown-item"><%=year1%></li>
                 
                  <%})%>
                </ul>
              </li>
            <%})%>
            </ul>
        </div>
        </form>
      
    </div>
  
 </main>
  
  <%- include("../headers/admin_footer.ejs") -%>
  

